/* COMMON START  */

:root {
  --bg-dark-1: #002939; /* background color */
  --nav-bg: #004764; /* nav background color */
  --nav-text-hvr: #58cdfbcc; /* nav text hover color */
  --nav-text-act: hsl(196, 100%, 81%); /* nav text active color */
  --footer-bg: #2b7897; /* footer background color */
  --white: whitesmoke; /* text color */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  min-height: 2000px;
  font-size: 1.25rem;
}

h1 {
  font-size: 3rem;
}

/* div {
  border: 1px solid white;
} */

.font-size-1 {
  font-size: 1.25rem;
}

.bg-dark-1 {
  background-color: var(--bg-dark-1);
}

.text-white {
  color: var(--white);
}

.text-white li a {
  color: inherit;
}

.text-center {
  text-align: center;
}

#home {
  padding-top: 5rem;
}

.main-content {
  margin: 50px 0;
}

.header {
  text-align: center;
  padding: 32px;
}

.container {
  padding: 1.5rem 0.75rem;
  box-sizing: border-box;
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex: wrap;
}

.section-gap {
  margin-top: 5%;
  padding-top: 5%;
}

.border-box {
  box-sizing: border-box;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

/* COMMON END */

/* HAMBURGER START */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
}

/* HAMBURGER END  */

/* NAV START */

.nav {
  background-color: var(--nav-bg);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0.25rem;
  box-shadow: 0 2px 10px 0 rgba(249, 255, 255, 0.322);
}
.nav .container {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  max-width: 70px;
  border-radius: 50%;
  box-sizing: border-box;
}

.nav-logo,
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-right: 3rem;
  transition: transform 0.5s ease;
}

.nav-menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
}

.nav-menu li {
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-menu a:hover {
  color: var(--nav-text-hvr);
}

.nav-menu a:active {
  color: var(--nav-text-act);
}

.nav-menu a {
  text-decoration: none;
}

/* NAV END */

/* INTRODUCTION START */
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  flex: 50%;
  align-items: start;
}

.introduction-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.introduction p {
  padding-right: 3rem;
  line-height: 2rem;
}

.intro-image {
  /* width: 50%; */
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.5s ease;
}

.intro-image img {
  width: 20rem;
  height: 24rem;
  object-fit: cover;
  border-radius: 10px;
}

.intro-image:hover {
  transform: scale(1.1);
}
/* INTRODUCTION END */

/* PROJECTS START */

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projects-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 30%;
  padding: 20px 1.2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.projects-item img:hover {
  transform: scale(1.1);
}

.projects-item img {
  width: 22rem;
  height: 24rem;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
/* PROJECTS END */

/* TESTIMONIALS START */

.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.testimonials-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 30%;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.testimonials-item img {
  width: 16rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 10px;
}

.testimonials-item p,
h3 {
  padding: 0 1.2rem;
  text-align: center;
}
/* TESTIMONIALS END */

/* FORM START */

.contact-form {
  width: 30%;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputForm {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputForm:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submitForm {
  background-color: var(--nav-text-hvr);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submitForm:hover {
  background-color: var(--footer-bg);
}

/* FORM END */

footer {
  background-color: var(--footer-bg);
  color: var(--white);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(249, 255, 255, 0.322);
}

@media screen and (max-width: 768px) {
  .introduction-container,
  .projects-container,
  .projects-list,
  .testimonials-container,
  .testimonials-list {
    flex-direction: column;
  }

  .introduction {
    align-items: center;
  }

  .introduction p {
    padding: 0 1.2rem;
  }

  .projects-item,
  .testimonials-item {
    width: 100%;
  }
  .intro-image img {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    padding: 10px;
    z-index: 999;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  /*
  .nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--nav-bg);
    width: 100%;
    text-align: center;
  }

  
  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu.active {
    display: block;
  } */

  .nav-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--nav-bg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  /* When active, slide the menu into view */
  .nav-menu.active {
    transform: translateX(0);
  }

  /* Styling the links in the expanded menu */
  .nav-menu ul {
    flex-direction: column;
    padding-inline-start: 0;
  }

  .nav-menu li {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
  }

  .nav-menu a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .nav-menu a:hover {
    color: #58cdfbcc;
    border-bottom: 2px solid #58cdfb; /* Add a hover effect */
  }

  .nav-menu a:active {
    color: hsl(196, 100%, 81%);
  }
}
